[submodule "HT-service"]
	path = HT-service
	url = https://github.com/7-xillow/HT-service.git
[submodule "sb-service"]
	path = sb-service
	url = https://github.com/7-xillow/sb-service.git
[submodule "AK-service"]
	path = AK-service
	url = https://github.com/7-xillow/AK-service.git
[submodule "JD-service"]
	path = JD-service
	url = https://github.com/7-xillow/JD-service.git
