/* #components {
  display: flex;
  flex-direction: row;
} */

/* #Pics {
  position: absolute;
  left: 12%;
  height: 100%;
  width: 100%;
}

#summary {
  position: relative;
  left: 56%;
  height: 100%;
} */
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}